$lineColorA : #D1302F;
$lineColorB : #427DBD;
$lineColorC : #FCD946;
$lineColorD : #5E9620;
$lineColorE : #BD76A1;
$lineColorH : #7B4339;
$lineColorJ : #CDCD00;
$lineColorK : #C7B300;
$lineColorL : #7584BC;
$lineColorN : #00A092;
$lineColorP : #F0B600;
$lineColorR : #E4B4D1;
$lineColorU : #D60058;


.A {
	background-color: $lineColorA;
}

.B {
	background-color: $lineColorB;
}

.C {
	background-color: $lineColorC;
}

.D {
	background-color: $lineColorD;
}

.E {
	background-color: $lineColorE;
}

.H {
	background-color: $lineColorH;
}

.J {
	background-color: $lineColorJ;
}

.K {
	background-color: $lineColorK;
}

.L {
	background-color: $lineColorL;
}
.N {
	background-color: $lineColorN;
}

.P {
	background-color: $lineColorP;
}

.R {
	background-color: $lineColorR;
}

.U {
	background-color: $lineColorU;
}



