$lineColorA : hsla(4, 75%, 48%, 1);
$lineColorB : hsla(200, 100%, 40%, 1);
$lineColorC : hsla(42, 100%, 54%, 1);
$lineColorD : hsla(79, 98%, 38%, 1);
$lineColorE : hsla(320, 100%, 32%, 1);
$lineColorH : hsla(327, 32%, 37%, 1);
$lineColorJ : hsla(60, 100%, 40%, 1);
$lineColorK : hsla(48, 100%, 37%, 1);
$lineColorL : hsla(227, 33%, 60%, 1);
$lineColorN : hsla(175, 58%, 44%, 1);
$lineColorP : hsla(39, 92%, 59%, 1);
$lineColorR : hsla(328, 53%, 84%, 1);
$lineColorU : hsla(334, 87%, 47%, 1);


.A {
	background-color: $lineColorA;
}

.B {
	background-color: $lineColorB;
}

.C {
	background-color: $lineColorC;
}

.D {
	background-color: $lineColorD;
}

.E {
	background-color: $lineColorE;
}

.H {
	background-color: $lineColorH;
}

.J {
	background-color: $lineColorJ;
}

.K {
	background-color: $lineColorK;
}

.L {
	background-color: $lineColorL;
}
.N {
	background-color: $lineColorN;
}

.P {
	background-color: $lineColorP;
}

.R {
	background-color: $lineColorR;
}

.U {
	background-color: $lineColorU;
}



