@import "utils/utils";
@import "compass/css3";



$dotSize: 20px;
#navigationInfo {
	position:absolute;
	width:100%;
	z-index:5;
	bottom:0;
	.content {
		display:inline-block;
		.tamere {
			@include box-shadow(0px 3px 14px 0px rgba(50, 50, 50, 0.25));
			position: absolute;
			top:48%;
			margin-left:41px;
			margin-top:-1.5px;
			width:143px;
			height:3px;
			background-color:rgba(191,191,191,0.7);
			z-index:-1;

		}
		
		.containerSteps {
			display:table;
			border-collapse:separate;
			border-spacing:26px;

			.steps {
				
				box-sizing:border-box;
				border-radius:50%;
				background-color:#BFBFBF;
				width:$dotSize;
				height:$dotSize;
				display:table-cell;
				vertical-align:middle;

				color:#4C4C4C;
				font-family:"Avenir Light";
				font-size:13px;
				cursor: pointer;
				@include box-shadow(0px 3px 14px 0px rgba(50, 50, 50, 0.25));
				@include transition(background-color 0.5s $quad-ease-out);
				&.active {
					background-color:white;
				}

			}
		}
		.message {
			position:absolute;
			margin-top:-20px;
			width: 100%;
			left: 0;
			text-align: center;
			font-family:"Avenir Light";
			color:$smoothWhite;
			font-size: 16px;
		}
	}
	
}