
@import "utils/utils";
@import "compass/css3";

$LOGOSIZE: 50px;
#rushHourTool {
	position:absolute;
	width:100%;
	height:100%;

	// LINES VIEW
	.linesView {
		position:absolute;
		width:100%;
		height:100%;
		.line {
			position:relative;
			display:inline-block;
			text-align:center;
			height:100%;
			cursor:pointer;
			& .logo {
				position:absolute;
				top:50%;
				width:$LOGOSIZE;
				height:$LOGOSIZE;
				margin-top:-$LOGOSIZE/2;
				margin-left:-$LOGOSIZE/2;
    			transform:  translatez(0);
    			transform-origin: 50%  50%;
    			opacity:0;
			}

			& p {
				position:relative;
				top:50%;
				//opacity:0;
				font-family:"Avenir Black";
				width:50px;height:50px;border-radius:50%;background-color:red;
				//transform:  translatez(0);
				//transform-origin: 50%  50%;
			}
		}
	}

	// ZONES VIEW
	.zonesView {
		position:absolute;
		width:100%;
		height:100%;
		text-align: center;

		& p {
			position:relative;
			top:70px;
			font-size: 32px;
		}
		& .logo {
			position: relative;
			top:70px;
			margin-top:-50px;
			width:100px;
			z-index: 10;
		}
		
		& .zoneContainer {
			position: absolute;
			top:20%;
			width:100%;
			height:80%;
			cursor:pointer;
			& .zone {
				display:inline-block;
				font-family:"Avenir Black";
				height:100%;
				p {
						pointer-events: none;
						@include user-select(none);
						top:50%;
						color:$smoothWhite;
						//@include transition(all .2s ease-in);
				}

				&:hover{
					 p {
					 	/*@include transition(all .2s ease-out);
						@include transform(scale(2));*/
					}

				}
				

				
			}
		}
	}

	// GARES VIEW
	.garesView {
		position:absolute;
		width:100%;
		height:100%;
		text-align: center;
		
		.gareContainer {
			top:0px;
			padding-top:50px;
			list-style: none;
			.gare {
				color:$smoothWhite;	
				font-family:"Avenir Roman";
				padding:20px;
				cursor:pointer;
			}

		}
		
	}

	// TOOL VIEW
	.toolView {
		position:absolute;
		width:100%;
		height:100%;

		.slider {
			position:absolute;
			top:50%;
		}

	}
}



.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=range]{
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-ms-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]:focus {
  outline: none;
  &::-webkit-slider-thumb:after {
  	content:'cc';
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
  }
  &::-ms-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
  }
  &::-moz-range-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555;
  }
}


