
@import "utils/utils";
@import "compass/css3";

$LOGOSIZE: 50px;
#rushHourTool {
	position:absolute;
	width:100%;
	height:100%;

	// LINES VIEW
	.linesView {
		position:absolute;
		width:100%;
		height:100%;
		.line {
			position:relative;
			display:inline-block;
			text-align:center;
			height:100%;
			cursor:pointer;
			& .logo {
				position:absolute;
				top:50%;
				width:$LOGOSIZE;
				height:$LOGOSIZE;
				margin-top:-$LOGOSIZE/2;
				margin-left:-$LOGOSIZE/2;
    			transform:  translatez(0);
    			transform-origin: 50%  50%;
    			opacity:0;
			}

			& p {
				position:relative;
				top:50%;
				//opacity:0;
				font-family:"Avenir Black";
				width:50px;height:50px;border-radius:50%;background-color:red;
				//transform:  translatez(0);
				//transform-origin: 50%  50%;
			}
		}
	}

	// ZONES VIEW
	.zonesView {
		position:absolute;
		width:100%;
		height:100%;
		text-align: center;

		& p {
			position:relative;
			top:100px;
			font-size: 32px;
		}
		& .logo {
			position: relative;
			top:110px;
			margin-top:-50px;
			width:100px;
			z-index: 2;
		}
		
		& .zoneContainer {
			position: absolute;
			top:0;
			width:100%;
			height:100%;
			cursor:pointer;
			& .zone {
				display:inline-block;
				font-family:"Avenir Black";
				height:100%;
				p {
						pointer-events: none;
						@include user-select(none);
						top:50%;
						color:$smoothWhite;
						//@include transition(all .2s ease-in);
				}
				
			}
		}
	}

	// GARES VIEW
	.garesView {
		position:absolute;
		width:100%;
		height:100%;
		text-align: center;
		
		.gareContainer {
			position:relative;
			top:5%;
			height: 70%;
			overflow-x:hidden;
			overflow-y:scroll;
			list-style: none;
			padding:20px;

			&::-webkit-scrollbar { width: 0 !important }
			-ms-overflow-style: none; 
			.gare {
				vertical-align: middle;
				color:$smoothWhite;	
				font-family:"Avenir Roman";
				padding:20px;
				cursor:pointer;
				@include user-select(none);
				font-size: 16px;
			}

		}
		$arrowSize:25px;
		.arrowScroll {
			position:fixed;
			bottom: 0px;
			margin:0 auto;
			margin:5px;
			left: 50%;
			margin-left:-$arrowSize/2;
			background-color:red;
			width:$arrowSize;
			height: $arrowSize;
			display: none;
		}
		
	}

	// TOOL VIEW
	.toolView {
		position:absolute;
		width:100%;
		height:100%;

		.slider {
			position:absolute;
			top:60%;
			width: 60%;
			margin-left: -30%;

		}
		.gareName {
			position:absolute;
			text-align: center;
			color:$smoothWhite;	
			font-family:"Avenir Roman";
			padding:20px;
			text-transform:uppercase;
			font-size: 24px;
			box-sizing: border-box;
			left: 50%;
			background-color:rgba(0,0,0,0);
			@include transform(translateX(-50%));
			@include user-select(none);
			cursor:default;
			@include transition(background-color 1s ease-out);
			&.active {
				background-color:rgba(0,0,0,0.2);
				
			}
		}
		.crowdInfos {
			position:absolute;
			color:$smoothWhite;
			text-transform: uppercase;
			font-family:"Avenir Roman";
			font-size:24px;
			width: 100%;
			top:20%;

			span {
				position:absolute;
			}

		}
		.crowdFilter {
			position:absolute;
			width: 100%;
			height: 100%;
			background-color:transparent;
		}

	}
}



.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=range]{
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-ms-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  background:white;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  background:white;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  background:white;
}

input[type=range] {
  outline: none;
  &::-webkit-slider-thumb:after {
  	content:'';
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    font-family:"Avenir Light";
    font-size: 21px;

  }
  &::-ms-thumb:after {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    font-family:"Avenir Light";
    font-size: 21px;

  }
  &::-moz-range-thumb:after {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    font-family:"Avenir Light";
    font-size: 21px;
	
  }
}


