@import 'compass';
#rushHourTool {

	position:absolute;
	width:100%;
	height:100%;
	.linesContainer {
		with:100%;
		height:100%;
		.line {
		position:relative;
			display:inline-block;
			text-align:center;
			height:100%;

			& .warp {
				display:table;
				width:100%;
				height:100%;
				& .content {
					display:table-cell;
					vertical-align:middle;

					& p {
						opacity:0;
					}
				}
			}
		}
	}
}